.main .content .title{font-size:14px;color:#333;line-height:1;height:auto;padding-top:30px;padding-bottom:20px;}
.main .content .details{font-size:12px;color:#666;line-height:2;padding-bottom:35px;}
.main .content .details .pageImg{padding-left:30px;}
.main .content .more{color:#c40e22;font-size:11px;display:inline-block;line-height:24px;}