.main .content .details .downloadBtn{padding-top:72px;}
.main .content .details .downloadBtn a{display:block;font-family:"Verdana";font-size:14px;color:#666;text-align: center;}
.main .content .details .downloadBtn a img{display:block;padding-bottom:25px;margin:0px auto;}
