<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Business</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/business.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="row main">
			<div class="col-md-3">
				{{include file="include/menu.php"}}
			</div>
			<div class="col-md-9">
				{{include file="include/breadcrumbs.php"}}
				<div class="content">
					<h1>OUR BUSINESS</h1>
					<div class="author divider">Products</div>
					<div class="details devider">
						<div class="searchBox">
							<form action="" class="form-horizontal">
								<label for="search">Search</label>
								<input type="text" id="search" class="input-search">
								<input type="submit" value="GO" class="btn-go">
								<div class="jumpBox fr mr20 mt5">
									<span><span class="active">1</span>/6</span>
									<a href="" class="active">&gt;</a>
									<a href="">&lt;</a>
								</div>
							</form>
						</div>
						<ul class="productList">
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item lastItem">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item lastItem">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<li class="item lastItem">
								<img src="images/business/product00.png" alt="" class="productImg">
								<h2 class="productTitle">ASTM D2466</h2>
								<div class="infos">cNSF and cUPC available</div>
								<a href="#" class="a-more">Read more <span>&gt;</span></a>
							</li>
							<div class="cb"></div>
						</ul>
						<div class="skipBox">
							<a href="#">&lt;&lt;</a>
							<a href="#">&lt;</a>
							<a href="#">1</a>
							<a href="#" class="active">2</a>
							<a href="#">3</a>
							<a href="#">&gt;</a>
							<a href="#">&gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>