<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>carerr</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="row main">
			<div class="col-md-3">
				{{include file="include/menu.php"}}
			</div>
			<div class="col-md-9">
				{{include file="include/breadcrumbs.php"}}
				<div class="content">
					<h1>CAREER</h1>
					<div class="author divider">Jobs</div>
					<div class="title divider">Manufacturer’s Rep</div>
					<div class="details devider">
						Position：Manufacture Rep

Number ：5

About the job：
LESSO America, one of the leading plastic pipe fitting manufacturer’s in the world, has immediate opportunities for representation. LESSO America is marketing PVC-DWV，PVC Sch40 and PVC-ABS plastic fittings, here in the US. We are currently interviewing manufacturer’s reps to fill open territories across the United States. Please contact victorlin@lessoamerica.com for further information.

LESSO AMERICA, INC.
Based in Corona, CA, LESSO AMERICA, INC. is a wholly owned subsidiary of China LESSO Group Holdings Limited. LESSO America absorbed decades of field experience in the plumbing and irrigation field from its listed parent, a leading player in the field.

To sustain its flawless plastic injection-molded product line and sales network, LESSO Ameirca manufactures and delivers high-quality plastic fittings with the latest injection mold tools and technology through distribution centers from coast to coast. With 100% dedication and commitment, LESSO  America is leveraging the inherited success of its mother company`s model to provide an outstanding customer experience for our clients. 
					</div>
					<div class="title divider">Manufacturer’s Rep</div>
					<div class="title divider">Manufacturer’s Rep</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>