<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>contact</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/contact.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="row main">
			<div class="col-md-3">
				{{include file="include/menu.php"}}
			</div>
			<div class="col-md-9">
				{{include file="include/breadcrumbs.php"}}
				<div class="content">
					<h1>CONTACT</h1>
					<div class="author divider">LESSO</div>
					<div class="details devider">
						<img src="images/map.png" alt="" class="imgs">
						<h2>MANAGEMENT</h2>
						<div class="listItem row">
							<div class="col-md-3">
								<div class="dttitle">West and North East</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<div class="dttitle">South East</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<div class="dttitle">Pacific North West</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
						</div>
						<h2>SALES</h2>
						<div class="listItem row">
							<div class="col-md-3">
								<div class="dttitle">West and North East</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<div class="dttitle">South East</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<div class="dttitle">Pacific North West</div>
								<div class="cont">Tom Carroll Regional Sales Mgr Email:stevewolfson@lessoamerica.com Direct Line:(951) 547-6810 Cell Phone:(949) 413-3064</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>