<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>download</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/download.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="row main">
			<div class="col-md-3">
				{{include file="include/menu.php"}}
			</div>
			<div class="col-md-9">
				{{include file="include/breadcrumbs.php"}}
				<div class="content">
					<h1>DOWNLOAD</h1>
					<div class="author divider">Resource</div>
					<div class="details devider">
						<div class="row downloadBtn">
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download00.png" alt="">
									Company Brochure
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download01.png" alt="">
									Product Picture Album
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download02.png" alt="">
									Price List
								</a>
							</div>
						</div>
						<div class="row downloadBtn">
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download03.png" alt="">
									Technical Manual
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download04.png" alt="">
									Certification information
								</a>
							</div>
							<div class="col-md-4">
								<a href="#">
									<img src="images/button/download05.png" alt="">
									More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>