<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Global Network</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/global.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="row main">
			<div class="col-md-3">
				{{include file="include/menu.php"}}
			</div>
			<div class="col-md-9">
				{{include file="include/breadcrumbs.php"}}
				<div class="content">
					<h1>GLOBAL</h1>
					<div class="author divider">Network</div>
					<div class="details devider">
						<img src="images/global.png" alt="" class="imgs">
						<p class="pt40 detailInfos">LESSO has established a complete domestic sales network comprised of nearly 1,000 4S dealers and service stations. 
Our  overseas markets also have nearly 540 sales and service outlets in 14 countries.</p>
					</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>