<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
		{{include file="include/banner.php"}}
		<main class="main">
			<div class="row">
				<div class="col-md-7 col-md-offset-1 product">
					<h1 class="fl">OUR BUSINESS</h1>
					<a href="#" class="control">&gt;</a>
					<a href="#" class="control">&lt;</a>
					<div class="cb"></div>
					<ul class="productList">
						<li class="item">
							<a href="#"><img src="images/product/product01.png"></a>
							<div class="title">DWV Fittings</div>
							<a href="#" class="more">Read More <span>&gt;</span></a>
						</li>
						<li class="item">
							<a href="#"><img src="images/product/product01.png"></a>
							<div class="title">DWV Fittings</div>
							<a href="#" class="more">Read More <span>&gt;</span></a>
						</li>
						<li class="item lastItem">
							<a href="#"><img src="images/product/product01.png"></a>
							<div class="title">DWV Fittings</div>
							<a href="#" class="more">Read More <span>&gt;</span></a>
						</li>
						<div class="cb"></div>
					</ul>
				</div>
				<div class="col-md-3 vedio">
					<h1>VEDIO</h1>
					<video src="others/test.ogg" controls="controls" height="195px" preload="preload" width="243px"></video>
					<div class="details">LESSO AMERICA, INC. is a wholly owned subsidiary of ChinaLESSO ...</div>
				</div>
			</div>
			<div class="row bottom">
				<div class="col-md-7 col-md-offset-1 info">
					<img src="images/companyInfo.png" alt="">
					<div class="title">LESSO AMERICA, INC. </div>
					<div class="details">
						Based in Corona, CA, LESSO AMERICA, INC. is a wholly owned subsidiary of China LESSO Group Holdings Limited. LESSO America absorbed decades of field experience in the plumbing and irrigation field from its listed parent aleading player in the field.
					</div>
					<a href="#" class="more">Read More <span>&gt;</span></a>
					<div class="cb"></div>
				</div>
				<div class="col-md-3 aboutUs">
					<div class="item">
						<img src="images/company/company1.png">
						<div class="title">CHINA <span class="otherColor">LESSON</span></div>
						<div class="details">As China’s largest plastic pipes ...</div>
						<div class="cb"></div>
					</div>
					<div class="item lastItem">
						<img src="images/company/company1.png">
						<div class="title">CONTACT US</div>
						<div class="details">Any question please call our hotline...</div>
						<div class="cb"></div>
					</div>
				</div>
			</div>
		</main>
		{{include file="include/footer.php"}}
	</div>
	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>