<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品介绍</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/product.css">
</head>
<body>
	<div class="container mAuto">
		{{include file="include/header.php"}}
	</div>
	<main class="main">
		<img src="images/product/item/product0.png" alt="" class="itemImg">
		<div class="container mAuto">
			<div class="infosTitle row">
				<div class="active col-md-4 head">Description</div>
				<div class="col-md-4 head">Specifications</div>
				<div class="col-md-4 head lastItem">Contact Now</div>
			</div>
			<div class="infoDetails" id="Description">
				<h2>1Female Adapter (Hub × FIPT) </h2>
LESSO America ABS DWV fittings are cost-effective with elegant appearance, corrosion resistance, high flow capacity, low installation costs and third-party 
certification. They are used in drain, waste vent applications (non-pressure)
			</div>
			<div class="infoDetails hidden" id="Specifications">
				<h2>2Female Adapter (Hub × FIPT) </h2>
LESSO America ABS DWV fittings are cost-effective with elegant appearance, corrosion resistance, high flow capacity, low installation costs and third-party 
certification. They are used in drain, waste vent applications (non-pressure)
			</div>
			<div class="infoDetails hidden" id="Contact">
				<h2>3Female Adapter (Hub × FIPT) </h2>
LESSO America ABS DWV fittings are cost-effective with elegant appearance, corrosion resistance, high flow capacity, low installation costs and third-party 
certification. They are used in drain, waste vent applications (non-pressure)
			</div>
			<ul class="listInfos">
				<li class="productTitle">ASTM D2661</li>
				<li class="number">Part Number</li>
				<li class="size">Size(in)</li>
				<li class="mstr">Mstr Ctn</li>
				<li class="code">UPC Code</li>
				<div class="cb"></div>
				<li class="productTitle">CSA B181.1</li>
				<li class="number">LN101-012</li>
				<li class="size">1-1/4''</li>
				<li class="mstr">125</li>
				<li class="code">848154080062</li>
				<div class="cb"></div>
				<li class="productTitle">NSF/ANSI 14</li>
				<li class="number">LN101-015</li>
				<li class="size">1-1/2''</li>
				<li class="mstr">100</li>
				<li class="code">848154080079</li>
				<div class="cb"></div>
				<li class="productTitle">Size range 1-1/4'' to 4''</li>
				<li class="number">LN101-020</li>
				<li class="size">2</li>
				<li class="mstr">75</li>
				<li class="code">848154080086</li>
				<div class="cb"></div>
				<li class="productTitle">3-year limited warranty</li>
				<li class="number">LN101-030</li>
				<li class="size">3</li>
				<li class="mstr">30</li>
				<li class="code">848154080093</li>
				<div class="cb"></div>
				<li class="productTitle">Solvent cementing Threading </li>
				<li class="number">LN101-040</li>
				<li class="size">4</li>
				<li class="mstr">25</li>
				<li class="code">848154080109</li>
				<div class="cb"></div>
			</ul>
		</div>
	</main>
	<div class="container mAuto">
		{{include file="include/footer.php"}}
	</div>
</html>